.peep .dijitMenu {
	border: 1px solid #606062;
	margin: 0px;
	padding: 0px;
}

.peep .dijitMenuItem {
	background-color: #ffffff;
	margin: 0;
}
.peep .dijitMenuPreviousButton, .peep .dijitMenuNextButton {
	font-style: italic;
}
.peep .dijitMenuItem td {
}

.peep .dijitMenuItemLabel {
	color: black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

.peep .dijitMenuItemLabel:hover {
	color: #ffffff;
  background-color: #a0a0a0;
}
.peep .
 {
	color: #ff0000;
  border: 1px solid #e0e0e0;
}

.peep .dijitMenuItemSelected {
  color: #ff0000;
}

.peep .dijitMenuItemIcon {
	display: none;
	width: 16px;
	height: 16px;
}

.peep .dijitMenuExpand {
	display:none;
}
.peep .dijitMenuExpandEnabled {
	width:16px;
	height:16px;
	background:url('../images/arrowRight.gif') no-repeat center center;
	display:block;
}

.peep .dijitMenuExpandInner {
	display:none;
}

.peep .dijitMenuSeparator {
	background-color: #f7f7f7;
}

/* separator can be two pixels -- set border of either one to 0px to have only one */
.peep .dijitMenuSeparatorTop {
	border-bottom: 0px solid #9b9b9b;
}

.peep .dijitMenuSeparatorBottom {
	border-top: 0px solid #e8e8e8;
}
