
.gridContainer * {
	zoom:1;
}

.oafDndHandle {
	cursor: move;
}

.gridContainer {
	display:block;	
	position: relative;
/*	background:#fff;	*/
	margin:4px 0px 4px 0px;
	padding:0px;
/*	height:1%; /* Bug focus with IE6/7) */
}
	
/* MOW: dnd might change to make this easier? */
.gridContainer .dojoDndAvatarHeader	{
	display:none;
}

.gridContainerTable {
	width:100%;	
/*	border:1px solid #e0e0e0; */
	height: 100%;
}

.gridContainerPopup {
	position: absolute;
	top:40%;
	left:40%;
	width: 200px;
	height: auto;	
	border: 1px solid #F60;
	background-color: #F0f0f0;
	text-align: center;
	padding: 10px;
}

.gridContainerTable tbody, .gridContainerTable tr {
	height: 100%;
}

/* default underlay for the container */
.gridContainerZone {
	vertical-align: top;	
	padding:0px 0px 5px 5px;	
	height: 100%;
	background: transparent;
}

.gridContainerZone .serviceWidgetTitleText h2 {
	position: relative;
}

/* the "splitters" */
.gridContainerGrip {
	cursor:default;
	position:absolute;	
	width:5px;	
	padding: 0px;	
	margin:0px;
	background-image: url(../images/pixel.gif);
	background-color: #f0f0f0;
}

.peep .gridContainerGrip {
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
}

/* splitter selected state */	
.gridContainerGripShow, .gridContainerGrip:focus {
	cursor:e-resize;	
	position:absolute;	
	width:5px;	
	padding:0px;	
	margin:0px;
	background-color: #a1a1a1;	
	background-image: url(../images/grip_bg.gif);
}

.peep .gridContainerGripShow, .peep .gridContainerGrid:focus {
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
}

.talos_dndGrid { width: 100%; height: 100%; padding: 0px;}
