.dashboard{
  background-color: #7DA786 !important;
  padding-bottom: 60px !important;
  min-height: 100vh;
}
.dashboard h2{
  color: white !important;
}

#d3-container svg {
}

#d3-container rect {
  height: 20px;
  stroke-width:1;
}

#d3-container .timeline-label, #project-d3-container .timeline-label {
  font-size: 14px;
  font-weight: 600;
  fill: #141414;
}

.tick{
  font-weight: 600;
  fill: #3E3C5D;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 10px;
}
.timeline-label {
  font-family: sans-serif;
  font-size: 12px;
  min-width: 100px !important;
}
#timeline2 .axis {
  transform: translate(0px,40px);
  -ms-transform: translate(0px,40px); /* IE 9 */
  -webkit-transform: translate(0px,40px); /* Safari and Chrome */
  -o-transform: translate(0px,40px); /* Opera */
  -moz-transform: translate(0px,40px); /* Firefox */
}
